article {
  margin-left: 10px;
}

/* ------- 1 ------- */

.ol {
  margin-right: 200px;
}

.a2 {
  margin-right: 100px;
}

#img_inputpart {
  width: 500px;
  margin-left: 10px;
}

#img_addpart {
  width: 500px;
  margin-left: 10px;
}

#img_7segpart {
  width: 500px;
  margin-left: 10px;
}

/* ------- 2 ------- */

#img_addpart {
  width: 500px;
  margin-left: 10px;
}
