article {
  margin-left: 6px;
}

/* ------- 1 ------- */

.ol {
  margin-right: 10px;
}

.a2 {
  margin-right: 10px;
}

#img_inputpart {
  width: 70vw;
  height: auto;
  margin-left: 0px;
  padding-left: 0px;
}

/* ------- 2 ------- */

#img_addpart {
  width: 70vw;
  height: auto;
  margin-left: 0px;
  padding-left: 0px;
  background-color: #f5f4ee;
}
